.food_containers{
  padding-top: 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 70px;
  width: 1000px;
}
.image_div{
  height: 150px;
  width: 100px;
  display: inline-block;
  object-fit: cover;
}